.bg-navbar-propio{
    background-color: #373A3C;
}
#hero-section{
    background-image: url(../img/bg-hero.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left
}
.color-verde {
    background-color: #17A2B8
}
.card .foto {
    width: 10px important!;
}